

* { margin:0;padding: 0 }

    .CodeMirror { line-height: 1 }
    @media screen and (min-width: 1300px) {
        /* article { max-width: 50%; } */
        #nav { border-right: 499px solid transparent; }
        }
    
    html { width:100%;height:100%;}
    body { width:100%;height:100%;}



#container {
    width: 100%; 
    height: 600px;
}

#view{
    float: left;
    width: 80%;
}

#gitgraph{
    height: 100%;
    overflow: auto;
    /* width: 20%;
    margin: auto;
    padding: auto;
    display: block;
    /* position: center; */
    /* overflow: scroll; */
    /* background-color: lightblue; */
    /* transform: scaleY(-1); */
}


#serverMessages {
    position: fixed;
    bottom: 0;
    /* right: 10%; */
    width: 100%;
    /* height: 10%; */
    overflow: auto;
    font-size: 8pt; 
    height: 17%;    
}

#messages {
    float: left;
    color:#1bb700;
    font-weight: bold;
    background:#001623;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow: scroll;
    height: 17%;
}
    
#commit_detail {
    color:#19191b;
    font-weight: bold;
    background:#9da1a4;
    position: fixed;
    left: 52%;
    width: 48%;
    /* bottom: 100%;
    width: 50%; */
    height: 100%;
    overflow: scroll;
}
/* 
#nodes circle:hover {
    fill: blue;
}   */