

* { margin:0;
    padding: 0; 
    text-decoration: none;
  }

    .CodeMirror { line-height: 1 }
    @media screen and (min-width: 1300px) {
        /* article { max-width: 50%; } */
        #nav { border-right: 499px solid transparent; }
        }
    
html { width:100%;height:100%;  background-color: rgb(233, 233, 233)}
body { width:100%;height:100%; background-color: rgb(233, 233, 233)}

th {
    text-decoration: none
}

#container {
    width: 100%; 
    height:450px;
}

#view{
    float: left;
    width: 80%;
}

#gitgraph{
    height: 100%;
    overflow: auto;
    /* width: 20%;
    margin: auto;
    padding: auto;
    display: block;
    /* position: center; */
    /* overflow: scroll; */
    /* background-color: lightblue; */
    transform: scaleY(-1);
}


/* #serverMessages { */
    /* position: fixed; */
    /* bottom: 0; */
    /* right: 10%; */
    /* width: 100%; */
    /* height: 10%; */
    /* overflow: auto; */
    /* font-size: 8pt;  */
    /* height: 10%;     */
/* } */

.chatFooter{
    height: 29%;
    bottom: 0px;
    width: 100%;
}

#chatHeader{
    float: left; 
    width: calc(50% - 10px); 
    margin: 5px;
    height: calc(100% - 36px);
}
#terminal {
    color:#1bb700;
    font-weight: bold;
    background-color:#001623;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* overflow: scroll; */
    text-align: left;
    overflow: auto;
    font-size: 8pt;
    height: calc(100% - 26px);
    padding: 2px 5px 2px 5px;
}
/* chat messages */
/* * { margin: 0; padding: 0;  } */
/* body { font: 13px Helvetica, Arial; } */
#chat_form {background: #000; padding: 3px; bottom: 0px; width: 100%; }
#chat_form input {border: 0; padding: 10px; width: 86%;}
#chat_form button {width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#chat_messages {
    list-style-type: none; 
    margin: 5px; 
    padding: 0; 
    overflow: auto; 
    width: 100%;
    margin-top: 0px;
    height: calc(100% - 26px);
}
#chat_messages li {
    font: 12px Helvetica Arial; 
    text-align: left;
}
#chat_messages li:nth-child(odd) { background: #eee; }
   
#commit_detail {
    color:#19191b;
    font-weight: bold;
    background:#9da1a4;
    position: fixed;
    left: 52%;
    width: 48%;
    /* bottom: 100%;
    width: 50%; */
    height: 100%;
    overflow: scroll;
}
/* 
#nodes circle:hover {
    fill: blue;
}   */


.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float: left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 21px; padding: 0; line-height: 21px;
    border: 0px solid #E3E3E3; border-radius: 14px;
    background-color: #C2C2C2;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 14px; margin: 3.5px;
    background: #27A1CA;
    position: absolute; top: 0; bottom: 0;
    right: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #27A1CA; 
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

#chooseBranch {
    overflow:scroll;
    position: sticky;
    left: 0;
    top: 0%;
    width: 34.3%

}
#search1, #search2, #search3 {
    float: right;
}

#fileInCommit{
    max-width: 70%;
    float: left;
    padding: 0;
    margin: 0;
}